textarea {
    padding: 3px;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    width: calc(100% - 12px);
}

body:not(.adduri) > #adduri,
body:not(.setting) > #setting {
    display: none;
}

#menu,
#about,
#adduri,
#setting {
    padding: 8px;
}

#setting > :first-child {
    margin-top: 0px;
}

#adduri,
#setting,
#about {
    border-width: 1px;
    border-style: solid;
}

#adduri, #setting {
    grid-area: 1 / 2 / 2 / 3;
    height: fit-content;
    position: absolute;
    width: 600px;
    z-index: 9;
}

#about {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}

#about::before {
    content: var(--about);
}

#aria2_ver {
    margin-right: 3px;
    padding: 4px;
}

#aria2_ver::before {
    content: "v";
}

.adduri #download, .setting #options {
    border-style: inset;
}

.adduri [data-bid="download_btn"]:active,
.setting [data-bid="options_btn"]:active {
    border-style: outset;
}

#menu::before {
    content: var(--menu);
}

#filter::before {
    content: var(--queue);
}

[data-sid="download"]::before {
    content: var(--download);
}

[data-sid="upload"]::before {
    content: var(--upload);
}

[data-sid="active"]::before {
    content: var(--active);
}

[data-sid="waiting"]::before {
    content: var(--waiting);
}

[data-sid="stopped"]::before {
    content: var(--stopped);
}

.day:not(:empty)::after {
    content: var(--day);
}

.hour:not(:empty)::after {
    content: var(--hour);
}

.minute:not(:empty)::after {
    content: var(--minute);
}

.second:not(:empty)::after {
    content: var(--second);
}
