body {
    margin: 8px auto;
    width: 1280px;
}

textarea {
    padding: 3px;
    width: calc(100% - 12px);
    resize: none;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
}

body:not(.adduri) > #adduri, body:not(.setting) > #setting {
    display: none;
}

#menu, #adduri, #setting {
    position: fixed;
    z-index: 999999;
}

#menu {
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 8px;
    top: 0px;
    width: 1262px;
}

#adduri, #setting {
    border-width: 1px;
    border-style: solid;
}

#queue, #choose, #adduri, #setting {
    top: 56px;
}

#choose {
    left: calc(50% + 642px);
}

#choose::before {
    content: var(--queue);
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#adduri, #setting {
    right: calc(50% - 640px);
    width: 600px;
    padding: 8px;
}

#setting > :first-child {
    margin-top: 0px;
}

#aria2_ver {
    padding: 4px;
    margin-right: 3px;
}

#aria2_ver::before {
    content: "v";
}

.adduri #download, .setting #options {
    border-style: inset;
}

.adduri [data-bid="download_btn"]:active, .setting [data-bid="options_btn"]:active {
    border-style: outset;
}

.jsonrpc, .entries {
    display: grid;
    grid-column-gap: 3px;
}

.jsonrpc {
    grid-template-columns: auto 1fr 1fr auto;
}

.entries {
    grid-template-columns: 1fr auto auto 0px;
}

#adduri > :first-child {
    margin: 0px 0px 5px;
}

#menu > div:nth-child(1)::before {
    content: var(--download);
}

#menu > div:nth-child(2)::before {
    content: var(--upload);
}

#menu > div:nth-child(3)::before {
    content: var(--active);
}

#menu > div:nth-child(4)::before {
    content: var(--waiting);
}

#menu > div:nth-child(5)::before {
    content: var(--stopped);
}

.day:not(:empty)::after {
    content: var(--day);
}

.hour:not(:empty)::after {
    content: var(--hour);
}

.minute:not(:empty)::after {
    content: var(--minute);
}

.second:not(:empty)::after {
    content: var(--second);
}
