textarea {
    padding: 3px;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    width: calc(100% - 12px);
}

button.checked {
    border-style: inset;
}

#adduri, #setting {
    border-width: 1px;
    border-style: solid;
    grid-area: 1 / 2 / 2 / 3;
    height: fit-content;
    padding: 8px;
    position: absolute;
    width: 600px;
    z-index: 9;
}

#adduri .flex > button, #setting .flex > button {
    height: 25px;
    padding: 0px 5px;
}

#adduri .config, #setting .config {
    gap: 5px;
}

#menu::before {
    content: var(--menu);
}

#filter::before {
    content: var(--queue);
}

#system::before {
    content: var(--system);
}

#version::before {
    content: var(--version);
}

#download::before {
    content: var(--download);
}

#upload::before {
    content: var(--upload);
}

#active::before {
    content: var(--active);
}

#waiting::before {
    content: var(--waiting);
}

#stopped::before {
    content: var(--stopped);
}

.day:not(:empty)::after {
    content: var(--day);
}

.hour:not(:empty)::after {
    content: var(--hour);
}

.minute:not(:empty)::after {
    content: var(--minute);
}

.second:not(:empty)::after {
    content: var(--second);
}
